body {
    color: #90E0EF;
    background-color: #c8e7ff;
    font-family: Helvetica, Arial, sans-serif;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


/* Header */
header {
    padding: 20px 35px;
    background-color: #c8e7ff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #343a40;
    display: inline;
}

header a {
    text-decoration: none;
    color: #343a40;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

* {
    margin: 0;
    padding: 0;
}

.section-title {
    color: #343a40;
    margin: 10px;
    text-align: right;
    display: flex;
    flex: 1, 100px;
}


/* Hero */
.hero {
    background-image: url("../images/cloud.jpg");
    height: 500px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-cta {
    display: flex;
    position: absolute;
    bottom: 4%;
    right: 5%;
    background-color: #c8e7ff;
    color: #343a40;
}


/*About Me */
.about {
    display: flex;
    margin: 20px;
    color: #343a40;
    justify-content: space-around;
}

.about h2 {
    text-align: left;
    justify-content: flex-start;
    font-size: 30px;
    width: 10%;
}

.about p {
    text-align: left;
    padding: 20px 50px 20px 50px;
    justify-content: space-around;
    width: 90%;
    display: flex;
}

.about-wrapper {
    width: 100%;
    justify-content: space-around;
    border-left: solid 5px #343a40;
}

.about-container {
    width: 80%;
    justify-content: space-between;
}


/* My Work */
.work {
    display: flex;
    justify-content: space-around;
    margin: 30px;
    color: #343a40;
}

.work h2 { 
    text-align: left;
    font-size: 30px;
}

/*.work-grid-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 30px;
    border-left: solid 5px #343a40;
    flex: 2;
}*/

.work-grid-container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /*grid-template-columns: 400px 400px 400px;*/
    grid-template-rows: 200px 200px 200px;
    justify-content: space-between;
    padding-left: 155px;
    border-left: solid 5px #343a40;
}

.work-grid-1 {
    border: solid 2px #90E0EF;
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-column: 1/3;
    grid-row: 1/3;
    background-image: url("../images/RUNBUDDY.png");
    opacity: 0.5;
    color: #c8e7ff;
    font-weight: bold;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

.work-grid-1:hover {
    opacity: 1;
    transform: scale(1.01);
}

.work-grid-2 {
    border: solid 2px #90E0EF;
    background-image: url("../images/FINDTHEVIBE.png");
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #c8e7ff;
    font-weight: bold;
    opacity: 0.5;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

.work-grid-2:hover {
    opacity: 1;
    transform: scale(1.01);
}

.work-grid-3 {
    border: solid 2px #90E0EF;
    background-image: url("../images/fitness-pal.png");
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #c8e7ff;
    font-weight: bold;
    opacity: 0.5;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

.work-grid-3:hover {
    opacity: 1;
    transform: scale(1.01);
}

.work-grid-4 {
    border: solid 2px #90E0EF;
    background-image: url("../images/tropical.png");
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #c8e7ff;
    font-weight: bold;
    opacity: 0.5;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

.work-grid-4:hover {
    opacity: 1;
    transform: scale(1.01);
}

.work-grid-5 {
    border: solid 2px #90E0EF;
    background-image: url("../images/Painting.png");
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #c8e7ff;
    font-weight: bold;
    opacity: 0.5;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

.work-grid-5:hover {
    opacity: 1;
    transform: scale(1.01);
}


/* Contact Me */
.contact {
    display: flex;
    justify-content: space-around;
    margin: 30px;
    color: #343a40;
}

.contact h2 {
    text-align: left;
    font-size: 30px;
}


/*.contact-info {
    display: flex;
    border-left: solid 5px #343a40;
    padding-left: 10px;
}*/

.contact-info {
    border-left: solid 5px #343a40;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: right;
    color: #343a40;
    font-weight: bold;
    font-size: 17px;
    flex-wrap: wrap;
    flex: 2;
}
  
.info {
    margin: 100px;
    border-bottom: 5px solid #343a40;
    padding-bottom: 5px;
}